.Day{
    position: relative;
    font-size: 1.2rem;
    border: 1px solid #222;
    cursor: pointer;
}

.Day:hover{
    background-color: #4a4a4a;
    color: aliceblue;
    font-weight: bolder;
}

.Day.selected{
    background-color: aliceblue;
    color: #222;
}

.Day.month{
    background-color: #00000069;
    color: aliceblue;
    cursor: default;
}

.CountTasks{
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px 10px;
    border-radius: 1rem;
    font-weight: lighter;
    font-size: 0.8rem;
    background-color: #222;
    color: aliceblue;
}