.Header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header i{
    font-size: 3rem;
}

.Header h1{
    font-size: 3rem;
    margin-left: 0.5rem;
    font-weight: bolder;
}